{% extends 'base.html' %}

{%block content%}

{{block.super}}

<div class="container">
  <div class="row">
      {% if users%}
      <h2>Found {{ users|length }} under the username {{message}}</h2>
    {% else %}
      <h2> Found 0 users under the username of {{message}}</h2>
    {% endif %} 

  </div>

  <div class="row">
    {%for user in users%}
        <div class="card mt-4 mx-auto" style="width: 20rem; margin-right: auto;">
          <img class="card-img-top" src="{{user.profile_pic.url}}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{user.user.username}}</h5>
            <p class="card-text">{{user.bio}}</p>
          </div>
        </div>
    
    {%endfor%}

  </div>





</div>

{% endblock %}